# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: ubuntu-latest

steps:
- task: Docker@2
  displayName: Docker build and push
  inputs:
    containerRegistry: 'MrvAksDigital - Container Registry'
    repository: 'dio/tutorial/api'
    command: 'buildAndPush'
    Dockerfile: './Dockerfile'
    buildContext: '.'
